*{
    font-size: 20px;
    list-style: none;
    margin:0;
    padding: 0;

}

.wheelContainer{
    position: fixed;
    z-index: 100;
}

.wheelView_center{
    margin:8%;
    border:1px solid;
    width:80%;
    height: 300px;
}

.wheelContainer ul{
    position: relative;
    width:30%;
    margin: 10px 1.2%;
    height:270px;
    border:1px solid;
    display: inline-block;
    overflow: hidden;
}

.wheelContainer li{
    top:0px;
    height:55px;
    position: relative;
    font-size: 2.4rem;
    text-align: center;
}
